apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: odprti-racuni-obcine
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pvc.yaml
  - tesk_runner_cornjob.yaml
  - create_year_cronjob.yaml

images:
  - name: odprti-racuni-obcine
    newName: rg.fr-par.scw.cloud/djnd/odprti-racuni-obcine
    newTag: '44021429097d0008b21b668a8efd5658f2232c47'
